{% extends 'base/base.html' %}




{% block content %}

    <table class="table table-bordered">
    <legend><font color="black" size="30" ><center> MARIO HERNANDEZ</center></font></legend>

    <thead>
    <tr>
        <td>ID.</td>
        <td>Forma de pago:</td>
        <td>Calificacion Producto:</td>
        <td>Calificacion Servicio:</td>
        <td>Nombre y apellidos:</td>
        <td>Nivel socioeconomico:</td>
        <td>No. Ticket:</td>
        <td><CENTER>ACCIONES</CENTER></td>
    </tr>

    </thead>
    <tbody>
    {% if object_list %}

    {% for ADDINFORMATION in object_list %}
    <tr>
        <td>{{ ADDINFORMATION.id }}</td>
        <td>{{ ADDINFORMATION.TYPE_WAYTOPAY }}</td>
        <td>{{ ADDINFORMATION.TYPE_PRODUCTQUALIFICATION}}</td>
        <td>{{ ADDINFORMATION.TYPE_SERVICEQUALIFICATION}}</td>
        <td>{{ ADDINFORMATION.client1.NAME }} {{ ADDINFORMATION.client1.SURNAMES }}
        <td>{{ ADDINFORMATION.client1.SOCIOECONOMIC_LEVEL}}</td>
        <td>{{ ADDINFORMATION.client1.TICKET}}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'cliente:cliente_registrar' %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'cliente:cliente_eliminar' %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}




    {% else %}
        <h1>NO HAY REGISTROS DE CLIENTES</h1>
    {% endif %}
    </tbody>
</table>





{% endblock %}


