{% extends 'base/base.html' %}




{% block content %}

<form method="post">
    {% csrf_token %}


    <form class="form-horizontal">
        <legend>_________________</legend>

        <fieldset>

      <form class="container1">

            <div class="form-group">
                  <label for="{{ form.NAME.name }}" class="col-lg-2 control-label">{{ form.NAME.label }}</label>
                <div class="col-lg-10">
                {{ form.NAME }}
                </div>
            </div>

        <br><br><br>

            <div class="form-group">
              <label for="{{ form.SURNAMES.name }}" class="col-lg-2 control-label">{{ form.SURNAMES.label }}</label>
              <div class="col-lg-10">
                {{ form.SURNAMES }}
              </div>
            </div>

        <br><br><br>

            <div class="form-group">
              <label for="{{ form.AGE.name }}" class="col-lg-2 control-label">{{ form.AGE.label }}</label>
              <div class="col-lg-10">
                {{ form.AGE }}
              </div>
            </div>


        <br><br><br>


            <div class="form-group">
              <label for="{{ form.TYPE_GENDER.name }}" class="col-lg-2 control-label">{{ form.TYPE_GENDER.label }}</label>
              <div class="col-lg-10">
                {{ form.TYPE_GENDER }}
              </div>
            </div>

          <br><br><br>


            <div class="form-group">
              <label for="{{ form.EMAIL.name }}" class="col-lg-2 control-label">{{ form.EMAIL.label }}</label>
              <div class="col-lg-10">
                {{ form.EMAIL }}
              </div>
            </div>

          <br><br><br>

            <div class="form-group">
              <label for="{{ form.PHONE.name }}" class="col-lg-2 control-label">{{ form.PHONE.label }}</label>
              <div class="col-lg-10">
                {{ form.PHONE }}
              </div>
            </div>

          <br><br><br>


            <div class="form-group">
              <label for="{{ form.CITY.name }}" class="col-lg-2 control-label">{{ form.CITY.label }}</label>
              <div class="col-lg-10">
                {{ form.CITY }}
              </div>
            </div>

          <br><br><br>


            <div class="form-group">
              <label for="{{ form.SOCIOECONOMIC_LEVEL.name }}" class="col-lg-2 control-label">{{ form.SOCIOECONOMIC_LEVEL.label }}</label>
              <div class="col-lg-10">
                {{ form.SOCIOECONOMIC_LEVEL }}
              </div>
            </div>

          <br><br><br>

            <div class="form-group">
              <label for="{{ form.TICKET.name }}" class="col-lg-2 control-label">{{ form.TICKET.label }}</label>
              <div class="col-lg-10">
                {{ form.TICKET }}
              </div>
            </div>

          <br><br><br>



            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>

      </form>
      </fieldset>
    </form>








</form>



{% endblock %}